@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Macondo&family=Raleway:wght@200&family=Roboto&family=Rubik+Moonrocks&display=swap');
$police_logo:'Cinzel', serif;//polices logo

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Lobster&family=Macondo&family=Raleway:wght@200&family=Roboto&family=Rubik+Moonrocks&display=swap');
$police_logo1 :'Lobster', cursive;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Lobster&family=Macondo&family=Raleway:wght@200&family=Roboto&family=Rubik+Moonrocks&family=UnifrakturCook&display=swap');
$police_logo2 : 'Rubik Moonrocks', cursive;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Lobster&family=Macondo&family=Paprika&family=Raleway:wght@200&family=Roboto&family=Rubik+Moonrocks&family=UnifrakturCook&display=swap');
$police_logo3:'Paprika', cursive;